#stores {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/los1.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: var(--lph-cream);
  padding: clamp(60px, 8vw, 100px) clamp(10%, 10vw, 10%);
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 16px;
  margin: 20px 0;
}

.store-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.store-list button {
  all: unset;
  display: inline-block;
  cursor: pointer;

  margin-top: 20px;
  padding: 12px 30px;
  background: #4098f083;
  color: var(--lph-gold);
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);

  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.lph-btn {
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 30px;
  background: #4098f083;
  color: var(--lph-gold);
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.lph-btn:hover {
  background: var(--lph-deep);
  color: #fff;
  transform: translateY(-3px);
}